<div class="mx-auto" style="max-width: 800px;">
  <form (ngSubmit)="submit()" #form="ngForm">
    <h3 class="text-center py-4">Product Search</h3>
    <div class="form-group row required">
      <label class="col-sm-3 col-form-label" for="keywords">Keyword</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" id="keywords" name="keywords"
               placeholder="Enter Product Name(eg. iPhone8)"
               required [(ngModel)]="inputModel.keywords" #keywords="ngModel"
               [class.is-invalid]="keywords.invalid && (keywords.dirty || keywords.touched)">
        <div class="invalid-feedback">Please enter a keyword.</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="category">Category</label>
      <div class="col-sm-3">
        <select class="form-control" id="category" name="category" [(ngModel)]="inputModel.category">
          <option value="-1" selected>All Categories</option>
          <option value="550">Art</option>
          <option value="2984">Body</option>
          <option value="267">Books</option>
          <option value="11450">Clothing, Shoes & Accessories</option>
          <option value="58058">Computers/Tablets & Networking</option>
          <option value="26395">Health & Beauty</option>
          <option value="11233">Music</option>
          <option value="1249">Video Games & Consoles</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Condition</label>
      <div class="col-sm-9">
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="condition-new" name="condition.new" type="checkbox"
                 [(ngModel)]="inputModel.conditionNew">
          <label class="form-check-label" for="condition-new">New</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="condition-used" name="condition.used" type="checkbox"
                 [(ngModel)]="inputModel.conditionUsed">
          <label class="form-check-label" for="condition-used">Used</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="condition-unspecified" name="condition.unspecified" type="checkbox"
                 [(ngModel)]="inputModel.conditionUnspecified">
          <label class="form-check-label" for="condition-unspecified">Unspecified</label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Shipping Options</label>
      <div class="col-sm-9">
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="shipping-local" name="shipping.local" type="checkbox"
                 [(ngModel)]="inputModel.shippingLocal">
          <label class="form-check-label" for="shipping-local">Local Pickup</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="shipping-free" name="shipping.free" type="checkbox"
                 [(ngModel)]="inputModel.shippingFree">
          <label class="form-check-label" for="shipping-free">Free Shipping</label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Distance (Miles)</label>
      <div class="col-sm-3">
        <input class="form-control" name="distance" type="text" placeholder="10" [(ngModel)]="inputModel.distance">
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-sm-3 col-form-label">From</label>
      <div class="col-sm-9">
        <div class="form-check">
          <input class="form-check-input" type="radio" id="from-location" name="from" (change)="fromZip = false"
                 [checked]="!fromZip">
          <label for="from-location" class="form-check-label">Current Location</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="from-zip" name="from" (change)="fromZip = true"
                 [checked]="fromZip">
          <label for="from-zip" class="form-check-label">Other. Please specify zip code:</label>
        </div>
        <div>
          <input #locationInput class="form-control" pattern="[0-9]{5}" name="location" type="text"
                 [disabled]="!fromZip" [(ngModel)]="inputModel.location" [matAutocomplete]="zipHints"
                 (keyup)="keyUp.next($event)" required #location="ngModel"
                 [class.is-invalid]="location.invalid && (location.dirty || location.touched)">
          <mat-autocomplete #zipHints="matAutocomplete">
            <mat-option *ngFor="let zip of zips" [value]="zip">{{zip}}</mat-option>
          </mat-autocomplete>
          <div class="invalid-feedback">Please enter a zip code.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-6">
        <button class="btn btn-light mr-3" [disabled]="form.invalid || !hereZip" type="submit"><i
          class="material-icons">search</i>Search
        </button>
        <button class="btn btn-light" type="button" (click)="onReset(form)"><i class="material-icons">clear_all</i>Clear</button>
      </div>
    </div>
  </form>
</div>
