img {
  width: 100px;
  height: 100px;
}

.selected {
  background-color: #bdbec2 !important;
}

.top {
  top: 0;
}

td,th {
  white-space:nowrap
}

.nav-pills a{
  color: black!important;
}

.nav-pills .nav-link.active {
  color: white!important;
  background-color: black;
}

.page-link {
  color: black;
}

.page-item.active .page-link {
  background-color: black;
}

